django>=5.2
channels>=4.0
daphne>=4.0
pandas
numpy
xgboost
python-dotenv
langchain-core
langchain-community
langchain-openai
openai
joblib
requests
scikit-learn==1.6.1
channels_redis   # Only if you want Redis for production
faiss-cpu
sentence-transformers
pymilvus>=2.3.4
spacy>=3.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl